/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Banner Section Styles */
  .banner {
    background-image: url('https://via.placeholder.com/1920x600'); /* Replace with school image */
    background-size: cover;
    background-position: center;
    color: #061A40;
    text-align: center;
    padding: 20px 20px;
    height: 30%;
  }
  .banner img{
    width: 100%;
    margin-bottom: 20px;
  }
  
  .banner-content h2 {
    font-size: 50px;
    margin: 0;
  }
  
  .banner-content p {
    font-size: 20px;
    margin-top: 10px;
  }
  
  /* School Details Section Styles */
  .school-details {
    padding: 40px;
    background-color: #f4f4f4;
    text-align: center;
  }
  
  .school-details h3 {
    font-size: 28px;
    color: #003366;
  }
  
  .school-details p {
    font-size: 18px;
    line-height: 1.6;
    max-width: 800px;
    margin: 20px auto;
  }
  